/* This file is for your main application css. */
@import "./phoenix.css";

html, body {
    padding-top: 0;
    margin-top: 0;
}

header {
    background-color: #100f0f;
}

section.container {
    padding-top: 10px;
    color: #fffafa;
}

h2 {
    margin-top: 10px;
}

p {
    margin-bottom: 10px;
}

iframe {
    margin-bottom: 25px;
}

.firefox {
    margin-top: 25px;
    font-size: 12px;
    color: grey;
}
